<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
</head>

<body>
    <div class="container is-fluid">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="/static/img/view.png" width="112" height="28">
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item">
                            Home
                        </a>

                        <a class="navbar-item">
                            Documentation
                        </a>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                More
                            </a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    About
                                </a>
                                <a class="navbar-item">
                                    Jobs
                                </a>
                                <a class="navbar-item">
                                    Contact
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item">
                                    Report an issue
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                {% if 'username' not in session %}
                                <a class="button is-primary" href="/signup/">
                                    <strong>Sign up</strong>
                                </a>
                                <a class="button is-light" href="/signin/">
                                    Log in
                                </a>
                                {% else %}
                                <a class="button is-danger" href="/logout/">
                                    Log out
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            {% block body %} {% endblock %}
        </div>
    </div>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<script>
    const burger = document.querySelector(".navbar-burger");

    const toggle = () => {
        const menu = document.querySelector(".navbar-menu");
        menu.classList.toggle("is-active")
    }

    burger.addEventListener('click', toggle);

    function isActive(elementId) {
        var element = document.getElementById(elementId);
        element.classList.add("is-active");
    }

    function isInactive(elementId) {
        var element = document.getElementById(elementId);
        element.classList.remove("is-active");
    }

    function isInactiveandDoHistoryBack(elementId) {
        var element = document.getElementById(elementId);
        element.classList.remove("is-active");
        window.history.go(-1);
        return false;
    }


</script>

</html>